<html>
    <head>
        <title>Expenses Control App!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <div class="container p-4">
            <div class="row">
                {{{body}}}
            </div>
        </div>
    </body>
</html>